

body{
    background-color: khaki;
    font-size: 48px;
    text-align: center;
}


*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

#btn{
    width: 140px;
    height: 89px;
    background-color: red;
    color: white;
    border: 1px solid;
    border-radius : 10px;
    font-size: 22px;
    line-height: 54px;
    text-align : center;
    box-shadow : 0px 0px 4px 2px red;
    margin :20px auto;
    font-weight: 700;
}
#anonymus{
    width: 300px;
    height: 200px;
    background-color: blue;
    border: 1px solid orange;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    line-height: 198px;
    box-shadow : 0px 0px 8px 4px orange;
    margin: 150 auto;

}
@keyframes aniset{
    0%{ transform: rotate(0deg);

    }
    20%{transform: rotate(1000deg);

    }40%{transform: rotate(200deg);

    }60%{transform: rotate(360deg);

    }80%{transform: rotate(200deg);

    }100%{transform: rotate(0deg);

    }
}